<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <section class="sub-header">
            {% include 'Menu.html' %}
            {% include 'Al_anceta.html' %}           
            <h1>Намерете новия си домашен любимец</h1>
        </section>

        <section class="All">
            {% include 'Filtri.html' %}
        </section>
        <section class="footer" >
            {% include 'Footer.html' %}
        </section>
    </body>
</html>